cidr_v: 10.4.0.0/16

packages:
- kubeadm
- kubectl

services:
- docker
- kubelet

ports:
- "6443/tcp"
- "10250/tcp"

token_file: join_token
artifacts_dir: "./artifacts"

aide_package: "aide"
auditd_package: "audit"
modprobe_package: "kmod"

kubeconfig_cluster_name: "CHANGEME"
kubeconfig_context_name: "CHANGEME"

# CIS 2.2.1.1
# CIS 2.2.1.2
# STIG 010090
wanted_pkg:
  - aide
  - apt-transport-https
  - ca-certificates
  - chrony
  - curl
  - ebtables
  - ethtool
  - fail2ban
  - gnupg-agent
  - htop
  - iptraf-ng
  - lsof
  - mc
  - net-tools
  - open-iscsi
  - python3-pip
  - snap
  - snapd
  - software-properties-common
  - sudo
  - tcpdump
  - ufw
  - vim

shell_timeout_sec: 900
ssh_ciphers: "aes128-ctr,aes192-ctr,aes256-ctr"
ssh_key_algorithms: "curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group14-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256"
ssh_listen_address: "0.0.0.0"
ssh_MACs: "hmac-sha2-512,hmac-sha2-256"
ssh_max_sessions: 4
ssh_max_startups: "10:30:100"
ssh_root_login: "without-password"            # prohibit-password
ssh_allow_users: "root" # users allowed to to ssh, ex: sam root@1.1.1.1

fail2ban_ignoreips: [CHANGEME]     # which IP address/CIDR mask/DNS host should be ignored from fail2ban's actions. Ex: [127.0.0.1/8, 1.1.1.1/32]
fail2ban_maxretry: 3                  # maximum number of retries before the host is put into jail
fail2ban_findtime: "5m"               # a host is banned if it has generated fail2ban_maxretry during the last fail2ban_findtime
fail2ban_bantime: "1d"                # sets the bantime
fail2ban_sendername: "Fail2ban"       # the 'from' display name for emails sent by mta actions (may not be an email address). NB: Use fail2ban_sender to set the 'from' email address.
fail2ban_sender: "fail2ban"           # the 'from' address for emails sent by mta actions. Hostname will be concatenated.
fail2ban_destemail: "CHANGEME" # email address that should receive ban messages. Ex: sam@domain.name

# DevOps user. Privileged user.
# remote user name
user_name: "CHANGEME"
# my local *.pub ssh key. This will be added to remote $HOME/.ssh/authorized_hosts
# you can generate your own local keys with "ssh-keygen"
user_certificate_pub: 'CHANGEME'
